// -----------------------------------------------------------------------------
// This file contains all styles related to the base of the site.
// -----------------------------------------------------------------------------

@use '../abstracts/colors';

body {
  color: colors.$dark-color;
  font-family: "Montserrat", sans-serif;
}

a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

ul {
  padding: 0;
  list-style-type: none;
}