@use '../abstracts/colors';

body {
  color: colors.$dark-color;
  font-family: "Montserrat", sans-serif;
}

// Global hyperlinks
a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

ul {
  padding: 0;
  list-style-type: none;
}