@media only screen and (max-width: 1200px) {
  header {
    nav {
      flex-direction: column;
      align-items: flex-start;

      .logo {
        margin-top: -5px;
      }

      .toggle {
        margin-left: auto;

        .toggle__btn {
          display: flex;
        }
      }

      ul {
        display: none;
        flex-direction: column;
        margin-top: 0.5rem;
      }

      
      ul.open {
        display: flex;
      }

      ul li {
          text-align: right;
      }
    }
  }

  .collection {
    grid-template-columns: repeat(1, 1fr);
  }
}