@use '../abstracts/colors';

.project {
  .heading {
    font-size: 2rem;
    margin-block: 0.75rem;
  }

  .subheading {
    font-weight: bold;
    color: colors.$primary-color;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }
}