@use '../abstracts/colors';

.card {
  .card__header {
    .heading {
      font-size: 2rem;
      margin-block: 0.75rem;
    }
  
    .subheading {
      font-weight: bold;
      color: colors.$primary-color;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
    }
  }
  
  .card__body {

  }
  
  .card__footer {
    .tags {
      display: flex;
      
      .tag {
        font-weight: bold;
        font-size: 0.75rem;
      }
    }
    
    .external {
      display: flex;
    }
  }
}